SOURCE_FILES := \
    source/network_stack/net/tests/checksum_test.c \
    source/network_stack/net/tests/uart.c \
    source/network_stack/net/checksum.c